@import 'styling/color';

.footer {
    background-color: $color-main;
    position: inherit;

    > div {
        padding: 0.5rem 0;
        position: inherit;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

    }

    .logo {
        display: inline-block;

        img {
            height: 4rem;
        }
    }

    .footer-nav {
        & * {
            color: white;
        }
    }
}