@import "styling/color";

.header {
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    > div {
        height: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: inline-block;

        img {
            height: 4rem;
            width: 4rem;
        }
    }


}

.nav {
    position: inherit;
    .nav-icon {
        height: 2.4rem;
        width: 2.4rem;

        div {
            transition-duration: 1s;
            position: absolute;
            height: 0.2rem;
            width: 2rem;
            background-color: $color-main;
            transform-origin: center;
            top: 50%;

            &:nth-child(1) {
                transform: translate(0, -0.7rem);
            }

            &:nth-child(2) {
                transform: translate(0, 0);
            }

            &:nth-child(3) {
                transform: translate(0, 0.7rem);

            }
        }

    }

    &:hover {
        .nav-icon div {
            &:nth-child(1) {
                transform: translate(0, 0) rotate(45deg);
            }

            &:nth-child(2) {
                transform: scale(0.0001, 1);
            }

            &:nth-child(3) {
                transform: translate(0, 0) rotate(-45deg)
            }
        }
    }
}

.nav-bar {
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 2rem;
    text-transform: capitalize;

    li {
        display: inline-block;
        list-style-type: none;
        vertical-align: middle;
        margin-left: 3rem;

        a {
            text-decoration: none;
        }
    }

}