<footer id="footer" class="footer">
        <div class="block-margin wide">

            <div class="logo">
                <a href="">
                    <img src="./asset/logo-white-full.svg" alt="">
                </a>
            </div>
            <ul class="nav-bar footer-nav">
                <li><a href="./">home</a></li>
                <li><a href="./projects.html">project</a></li>
                <li><a href="./works.html">work</a></li>
                <li><a href="./contact.html">contact</a></li>
            </ul>
        </div>
    </footer>