<nav class="nav open" id="nav">
    <div class="block-margin wide">
        <div class="nav-logo">
            <a href="../index.html">
                <img src="./asset/logo.svg" alt="">
            </a>
        </div>
        <div class="nav-box">

        </div>
        <div class="nav-menu" id="nav-menu">
            <ul>
                <li class="<% if (page === 'home') {%>active<%} %>"><a href="./">home</a></li>
                <li class="<% if (page === 'project') {%>active<%} %>"><a href="./projects.html">project</a></li>
                <li class="<% if (page === 'work') {%>active<%} %>"><a href="./works.html">work</a></li>
                <li class="<% if (page === 'contact') {%>active<%} %>"><a href="./contact.html">contact</a></li>
            </ul>
        </div>
        <div class="nav-icon" id="nav-btn">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <script src="./js/_nav.js"></script>
</nav>