    <a href="project.html">
        <figure class="project-img filter fill-in-effect">
            <img src="./asset/img/projects/大專案_Edward/究極消臭大專案-首頁.jpg" class="filter-masking">
        </figure>
    </a>
    <div class="project-content">
        <h1 class="brand"><%= projectItem.brand%></h1>
        <div class="line">
            <svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 10 10'>
                <path d='M 10 0 L 0 10 ' fill='none' stroke-width='2%' stroke='#077579' /></svg>
        </div>
        <a href="project.html">
            <div class="title">
                <h3><%= projectItem.title%></h3>
                <span><%= projectItem.client%></span>
            </div>
        </a>
    </div>