<div class="work__item filter">
    <img src="./asset/img/works/CNY禮盒/首頁_小專案_CNY禮盒-A.jpg" class="filter-masking">
    <div class="title fade-in">
        <h2><%= workItem.brand%><%= workItem.title%></h2>
        <p><span><%= workItem.type%></span><span><%= workItem.client%></span></p>
    </div>
</div>