<a href="work.html">
    <div class="filter work__item fill-in-effect">
        <img src="./asset/img/works/CNY禮盒/首頁_小專案_CNY禮盒-A.jpg" class="img filter-masking work-img">
        <div class="title fade-in">
            <h3><%= workItem.brand%><%= workItem.title%></h2>
                <p><span><%= workItem.type%></span><span><%= workItem.client%></span></p>
        </div>
    </div>
</a>