<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('component/_head', {current: current}); %>
</head>


<body>
    <%- include("component/_nav", {current: current})%>
    <section class="page-title block-margin narrow">
        <h1>works</h1>
    </section>
    <section class="cates-list block-margin narrow">
        <ul>
            <li><a href="./categories.html"><span>主視覺‧KeyVisual</span></a></li>
            <li><a href="./categories.html"><span>購買點展示設計‧POSM</span></a></li>
            <li><a href="./categories.html"><span>包裝設計‧Package</span></a></li>
        </ul>
    </section>
    <section class="works block-margin wide main-section-margin">
        <div class="container">
            <div class="work-block">
                <div class="work-block__title">
                    <h1>Zespri 奇異果購物袋</h1>
                    <p>Zespri 包裝設計</p>
                </div>
                <div class="work-block__img">
                    <a href="work.html">
                        <img src="./asset/img/works/Zespri/小專案_BG(600_480)奇異果1.jpg" alt="">
                    </a>
                    <a href="work.html">
                        <img src="./asset/img/works/Zespri/小專案_BG(600_480)奇異果1.jpg" alt="">
                    </a>
                    <a href="work.html">
                        <img src="./asset/img/works/Zespri/小專案_BG(600_480)奇異果1.jpg" alt="">
                    </a>
                    <a href="work.html">
                        <img src="./asset/img/works/Zespri/小專案_BG(600_480)奇異果1.jpg" alt="">
                    </a>
                    <a href="work.html">
                        <img src="./asset/img/works/Zespri/小專案_BG(600_480)奇異果1.jpg" alt="">
                    </a>
                    <a href="work.html">
                        <img src="./asset/img/works/Zespri/小專案_BG(600_480)奇異果1.jpg" alt="">
                    </a>
                    <a href="work.html">
                        <img src="./asset/img/works/Zespri/小專案_BG(600_480)奇異果1.jpg" alt="">
                    </a>
                    <a href="work.html">
                        <img src="./asset/img/works/Zespri/小專案_BG(600_480)奇異果1.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <%- include('component/_footer'); %>

</body>

</html>