<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('component/_head', {current: current}); %>
</head>

<body>
    <%- include("component/_nav", {current: current})%>
    <section class="content block-margin wide">
        <div class="map">
            <div></div>
        </div>
        <div class="info">
            <h1>好應整合行銷公司</h1>
            <p>Inspire IMC Ltd.</p>
            <h3>Tel</h3>
            <p>02 2322 2108</p>
            <h3>Email</h3>
            <p>Rick@inspire.com</p>
            <h3>adress</h3>
            <p>111 台北市中正區忠孝東路1段138號八樓<br>
                Zhongzheng Dist. Taipei City 100 Taiwan
            </p>
        </div>
    </section>
    <%- include('component/_footer'); %>

</body>

</html>