<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('component/_head', {current: current}); %>
</head>

<body>
    <%- include("component/_nav", {page: page})%>
    <section class="page-title block-margin narrow ">
        <h1>Projects</h1>
    </section>
    <section class="projects main-section-margin">
        <% for(var i=0; i<8; i++) {%>
        <div class="project__item block-margin narrow ">
            <%- include('component/_project-item', {projectItem: projectItem}) %>
        </div>
        <% } %>

    </section>
    <div class="works">

    </div>
    <%- include('component/_footer'); %>
    <script src="js/fillIn.js"></script>

</body>

</html>