<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('component/_head', {current: current}); %>
</head>


<body>
    <%- include("component/_nav", {page: page})%>
    <section class="page-title block-margin narrow">
        <h1>Works</h1>
    </section>
    <section class="cates-list block-margin narrow">
        <ul>
            <li><a href="./categories.html"><span class="cate-ch">主視覺</span><span class="cate-en">KeyVisual</span></a>
            </li>
            <li><a href="./categories.html"><span class="cate-ch">購買點展示設計</span><span class="cate-en">POSM</span></a>
            </li>
            <li><a href="./categories.html"><span class="cate-ch">包裝設計</span><span class="cate-en">Package</span></a>
            </li>
        </ul>
    </section>
    <section class="works block-margin wide">

        <div class="container">

            <% for(var i = 0; i< 20; i++) { %>
            <figure class="item">
                <%- include('component/_work-item', {workItem: workItem}) %>
            </figure>
            <% } %>


        </div>
    </section>
    <%- include('component/_footer'); %>
    <script src="js/fillIn.js"></script>

</body>

</html>