<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('component/_head', {current: current}); %>
</head>


<body>
    <%- include("component/_nav", {page: page})%>
    <section class="page-title block-margin narrow">
        <h1>Works</h1>
    </section>
    <section class="cates-list block-margin narrow">
        <ul>
            <li><a href="./categories.html"><span>主視覺‧KeyVisual</span></a></li>
            <li><a href="./categories.html"><span>購買點展示設計‧POSM</span></a></li>
            <li><a href="./categories.html"><span>包裝設計‧Package</span></a></li>
        </ul>
    </section>
    <section class="works block-margin wide main-section-margin">
        <div class="container">
            <figure class="item">
                <div class="filter">
                    <div class="title fade-in">
                        <h2>格蘭菲迪</h2>
                        <p><span>豪華大禮包</span><span>包裝設計</span></p>
                    </div>
                    <img src="./asset/img/works/CNY禮盒/首頁_小專案_CNY禮盒-A.jpg" class="filter-masking">
                </div>
            </figure>
            <figure class="item">
                <div class="filter">
                    <img src="./asset/img/works/CNY禮盒/首頁_小專案_CNY禮盒-A.jpg" class="filter-masking">
                </div>
            </figure>
            <figure class="item">
                <div class="filter">
                    <img src="./asset/img/works/CNY禮盒/首頁_小專案_CNY禮盒-A.jpg" class="filter-masking">
                </div>
            </figure>
            <figure class="item">
                <div class="filter">
                    <img src="./asset/img/works/CNY禮盒/首頁_小專案_CNY禮盒-A.jpg" class="filter-masking">
                </div>
            </figure>
            <figure class="item">
                <div class="filter">
                    <img src="./asset/img/works/CNY禮盒/首頁_小專案_CNY禮盒-A.jpg" class="filter-masking">
                </div>
            </figure>
            <figure class="item">
                <div class="filter">
                    <img src="./asset/img/works/CNY禮盒/首頁_小專案_CNY禮盒-A.jpg" class="filter-masking">
                </div>
            </figure>
            <figure class="item">
                <div class="filter">
                    <img src="./asset/img/works/CNY禮盒/首頁_小專案_CNY禮盒-A.jpg" class="filter-masking">
                </div>
            </figure>
            <figure class="item">
                <div class="filter">

                    <img src="./asset/img/works/CNY禮盒/首頁_小專案_CNY禮盒-A.jpg" class="filter-masking">
                </div>
            </figure>
            <figure class="item">
                <div class="filter">
                    <img src="./asset/img/works/CNY禮盒/首頁_小專案_CNY禮盒-A.jpg" class="filter-masking">
                </div>
            </figure>
            <figure class="item">
                <div class="filter">
                    <img src="./asset/img/works/CNY禮盒/首頁_小專案_CNY禮盒-A.jpg" class="filter-masking">
                </div>
            </figure>
            <figure class="item">
                <div class="filter">
                    <img src="./asset/img/works/CNY禮盒/首頁_小專案_CNY禮盒-A.jpg" class="filter-masking">
                </div>
            </figure>
        </div>
    </section>
    <%- include('component/_footer'); %>
</body>

</html>