<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('component/_head', {current: current}); %>

</head>

<body>
    <%- include("component/_nav", {current: current})%>
    <section class="description block-margin narrow">
        <div class="name">
            <h1>可口經典綜合禮盒</h1>
            <h3>白蘭洗衣精包裝設計</h3>
        </div>
        <div class="credit">
            <p>
                <span>Client: Uniliver</span>
                <span>Lead Designer: Edward</span>
                <span>Creative: Ruby, Ivy, Amy, Jenny</span>
            </p>
        </div>
    </section>
    <section class="gallery description block-margin narrow after-line">
        <img src="./asset/img/works/Halls xs Marvel/小專案-1_600_660.jpg" alt="">
        <img src="./asset/img/works/Halls xs Marvel/小專案-1_600_660.jpg" alt="">
        <img src="./asset/img/works/Halls xs Marvel/小專案-1_600_660.jpg" alt="">
        <img src="./asset/img/works/Halls xs Marvel/小專案-1_600_660.jpg" alt="">
        <img src="./asset/img/works/Halls xs Marvel/小專案-1_600_660.jpg" alt="">
        <img src="./asset/img/works/Halls xs Marvel/小專案-1_600_660.jpg" alt="">
        <img src="./asset/img/works/Halls xs Marvel/小專案-1_600_660.jpg" alt="">
        <img src="./asset/img/works/Halls xs Marvel/小專案-1_600_660.jpg" alt="">
    </section>

    <section class="page-title block-margin narrow relate">
        <h1>相關專案</h1>
        <div class="relate__imgs">
            <a href=""><img src="./asset/img/works/Halls xs Marvel/小專案266_192.jpg" alt=""></a>
            <a href=""><img src="./asset/img/works/Halls xs Marvel/小專案266_192.jpg" alt=""></a>
            <a href=""><img src="./asset/img/works/Halls xs Marvel/小專案266_192.jpg" alt=""></a>
            <a href=""><img src="./asset/img/works/Halls xs Marvel/小專案266_192.jpg" alt=""></a>
        </div>
    </section>

    <%- include('component/_footer'); %>


</body>

</html>