<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item mr-60 <% if (current === 'index') {%>active<%} %>">
            <a class="nav-link" href="./index.html">首頁</a>
        </li>
        <li class="nav-item mr-60 <% if (current === 'product') {%>active<%} %>">
            <a class="nav-link " href="./product.html">甜點</a>
        </li>
        <li class="nav-item mr-60 <% if (current === 'register') {%>active<%} %>">
            <a class="nav-link " href="./register.html">登入</a>
        </li>
    </ul>
    <%- include('test', {ans: current}); %>
</div>