@import 'color';
@import "layout";
// @import 'layout';

* {
    font-family: 'Noto Sans TC', sans-serif;
    color: $color-main;
    box-sizing: border-box;
    white-space: nowrap;
}

html {
    // width: 100%;
}
body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    overflow: auto;
    overflow-x: hidden;
}

html {
    @include media-S {
        font-size: 12px;
    };

    @include media-M {
        font-size: 14px;
    };

    @include media-L {}

    ;
}

body {
    // position: fixed;
    margin-top: 6rem;
}

h1 {
    font-weight: 300;

}

h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span {
    font-weight: 300;
    color: rgb(13, 85, 114);
}

a {
    text-emphasis: none;
    text-decoration: none;
}

@mixin sepration-line {
    &::after {
        content: "";
        display: block;
        width: 90%;
        height: 2px;
        background-color: $color-main;
        margin: 20px auto;

        @include media-S {
            
            width: 20rem;
        }
    }
}

.block-margin {

    @include media-XL {
        &.wide {
            max-width: 1920px;
            width: 80vw;
            min-width: 924px;
        }

        &.narrow {
            width: 800px;

        }

        margin: 0 auto;
    };


    @media (min-width: $layout-breakpoint-M + 1) and (max-width: $layout-breakpoint-L) {
        
        &.wide {    
            margin: 0 50px;
                    
        }
        
        &.narrow {
            max-width: 1024px;
            width: 70vw;
            margin: 0 auto;

        }

    }

    @media (min-width: $layout-breakpoint-S + 1) and (max-width: $layout-breakpoint-M) {
        margin: 0 50px;
    }

    @media (max-width: $layout-breakpoint-S) {
        margin: 0 25px;

        &.s-fullwidth {
            margin: 0 0;

        }

    }
}

.main-section-margin {
    margin-bottom: 5rem;

    @include media-S {
        margin-bottom: 2rem;
    }
}
