@import 'color';

* {
    font-family: 'Noto Sans TC', sans-serif;
    color: $color-main;
    box-sizing: border-box;
    white-space: nowrap;
}

body {
    margin: 0;
    padding: 0;
    margin-top: 6rem;
}

h1 {
    font-weight: 300;
    
}

h2, h3, h4, h5, h6, p, li, a, span {
    font-weight: 300;
    color: rgb(13, 85, 114);
}

html {
    @media (min-width: $layout-breakpoint-XL + 1) {
    //    font-size: 12px;
    }

    @media (min-width: $layout-breakpoint-M + 1) and (max-width: $layout-breakpoint-XL) {
       
    }
    
    @media (min-width: $layout-breakpoint-M + 1) and (max-width: $layout-breakpoint-L) {
       
    }
    
    @media (min-width: $layout-breakpoint-S) and (max-width: $layout-breakpoint-M) {
      
    }
}



