@import "color";
@import "layout";


.filter>.filter-masking {
    filter: grayscale(100%);
    transition: 0.5s;
    
    @include media-S {
        filter: grayscale(0%);
        
    }
}

.filter::after {
    z-index: 2;
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-lightGrey;
    opacity: 0.4;
    transition-duration: 0.5s;

}

.filter .fade-in {
    transition-duration: 0.5s;
    opacity: 0;
}

.filter:hover {
    &>.filter-masking {
        filter: grayscale(0%) brightness(50%) contrast(119%);
    }

    &::after {
        opacity: 0;
    }

    .fade-in {
        opacity: 1;
    }
}

.filter,
.fade-in,
.filter-masking,
{
    @include media-M {
        &::after {
            display: none;
        }
        filter: none;
    }
}

@mixin hover-style {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -0.4rem;
    width: 0%;
    border-bottom: solid 2px $color-orange;
    transition-duration: 0.5s;
    width: 100%;


}

;

@mixin hover-underline ($target, $handler: null) {
    #{$target}::after {
        @include hover-style;
        width: 0%;
    }

    @if $handler {
        #{$handler}:hover #{$target}::after {
            width: 100%;

        }
    }

    @else {
        #{$target}:hover::after {
            width: 100%;

        }
    }
}