$layout-breakpoint-L: 1280px;
$layout-breakpoint-M: 768px;
$layout-breakpoint-S: 480px;

@mixin media-XL {
    @media (min-width: $layout-breakpoint-L) {
        @content
    }
};
@mixin media-L {
    @media (min-width: $layout-breakpoint-M + 1) {
        @content
    }
};
@mixin media-M {
    @media (max-width: $layout-breakpoint-M) {
        @content
    }
};
@mixin media-S {
    @media (max-width: $layout-breakpoint-S) {
        @content
    }
};


.block-margin {

    @include media-XL {
        &.wide {
            max-width: 1920px;
            width: 80vw;
            min-width: 924px;
        }

        &.narrow {
            width: 800px;

        }

        margin: 0 auto;
    };


    @media (min-width: $layout-breakpoint-M + 1) and (max-width: $layout-breakpoint-L) {
        
        &.wide {    
            margin: 0 50px;
                    
        }
        
        &.narrow {
            max-width: 1024px;
            width: 70vw;
            margin: 0 auto;

        }

    }

    @media (min-width: $layout-breakpoint-S + 1) and (max-width: $layout-breakpoint-M) {
        margin: 0 50px;
    }

    @media (max-width: $layout-breakpoint-S) {
        margin: 0 25px;

        &.s-fullwidth {
            margin: 0 0;

        }

    }
}

.main-section-margin {
    margin-bottom: 5rem;
}


@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
