$layout-breakpoint-L: 1280px;
$layout-breakpoint-M: 768px;
$layout-breakpoint-S: 480px;

@mixin media-XL {
    @media (min-width: $layout-breakpoint-L) {
        @content
    }
};
@mixin media-L {
    @media (min-width: $layout-breakpoint-M + 1) {
        @content
    }
};
@mixin media-M {
    @media (max-width: $layout-breakpoint-M) {
        @content
    }
};
@mixin media-S {
    @media (max-width: $layout-breakpoint-S) {
        @content
    }
};

.main-section-margin {
    margin-bottom: 5rem;

    @include media-S {
        margin-bottom: 2rem;
    }
}


@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
