// basic-styling
@import 'component/styling/normalize';
@import 'component/styling/color';
@import 'component/styling/basic';
@import 'component/styling/layout';


// general-component
@import "component/footer";
@import "component/header";

body {
    margin-top: 0;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include media-M {
        height: auto;
    }

}

@include media-L {

    .nav,
    .nav.open {
        position: relative;
        background-color: rgba(255, 255, 255, 0.9);

        .nav-menu ul {
            transform: translate(0%, 0%);
            opacity: 1;
        }

        .nav-icon div {
            &:nth-child(1) {
                transform: translate(0, -0.7rem);
            }

            &:nth-child(2) {
                transform: translate(0, 0);
            }

            &:nth-child(3) {
                transform: translate(0, 0.7rem);

            }
        }
    }

}


.content {
    flex: 1 1 auto;
    padding-bottom: 2rem;
    padding-top: 1rem;
    display: flex;
    .map {
        width: 70%;
        height: 100%;
        padding-left: 2rem;
        float: left;

        div {
            height: 100%;
            width: 100%;
            // background-color: rgb(228, 117, 117);
        }
    }

    .info {
        // width: 30%;
        float: left;
        padding-left: 2rem;
        h1 {
            margin-top: 1rem;
            margin-bottom: 0;
        }

        h3 {
            margin: 0;
            margin-top: 2rem;
            text-transform: capitalize;
            font-weight: normal;
            &::after {
                content: "."
            }
        }
        p {
            margin: 0;
            color: $color-darkGrey;
        }
    }

    @media (orientation: portrait) {
        padding-bottom: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

        .map {
            order: 1;
            float: none;
            height: 70vh;
            width: 100%;
            padding: 0;
            margin-bottom: 2rem;

        }

        .info {
            float: none;
            margin: 2rem 2rem;

        }
    }

    @include media-M {
        padding-top: 6rem;
        .map {
            margin-bottom: 0;
        }
    }

    @include media-S {
        .info {
            margin: 2rem 0;

        }
        .map {
            margin-bottom: 0;
        }
    }
}