// basic-styling
@import 'component/styling/normalize';
@import 'component/styling/color';
@import 'component/styling/basic';
@import 'component/styling/layout';

// general-component
@import "component/footer";
@import "component/header";

// purpose-component
@import "component/project-banner";
@import "component/work-gallery-item";

// hover-effect
@import "component/styling/hover";

.clip-path {
    display: none;
}

.top-btn {
    right: 10vw;
    bottom: 10vh;
    position: fixed;
    height: 50px;
    width: 50px;
    z-index: 100;
    visibility: visible;
    opacity: 1;
    transition-duration: 0.5s;

    >div {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 2px solid #ec6c1fff;
    }


    svg {
        height: 80%;
        width: 80%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.top {
        right: 50vw;
        transform: translate(65%, 0) rotate(180deg);

        >div {
            border: 2px solid #ec6c1fff;

        }
    }
}


.visual {
    height: 85vh;
    position: relative;


    .visual-wrapper {
        position: absolute;
        width: 200px;
        height: 200px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;

        >* {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .visual-border {}

    .visual-clip {
        clip-path: url(#clip-path);
        background-color: #ffffff;
        height: 100%;
        width: 100%;
        opacity: 0;
        transform: scale(1.5);

        .mask {
            background-color: rgb(223, 106, 106);
        }
    }
}

.projects {
    @include sepration-line;

    @include media-S {
        margin: 0;

        &::after {
            // width: 90%;
            // margin: 25px + 5vw;
        }
    }



    .filter:hover>img {
        filter: grayscale(10);

    }

    .more {
        text-align: right;
        width: 100%;


        >* {
            display: inline-block;
        }

        h3 {
            margin: 1rem 0;
            @include hover-underline ("&");

            &:hover~svg .arrow {
                stroke: $color-orange
            }
        }

        svg {
            width: 1rem;
            margin-left: .4rem;

            .arrow {
                stroke: $color-main;
                transition: .5s;

            }
        }

        @include media-S {
            text-align: center;

            svg .arrow {
                stroke: $color-orange
            }

            h3::after {
                @include hover-style;
            }
        }
    }
}




.works {
    @include sepration-line;

    .work-container {
        // width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;

        @include media-L {
            grid-auto-rows: calc(70vw / 3);
        }

        @include media-M {
            grid-auto-rows: calc(33vw - 33px);
        }

        @include media-XL {
            grid-auto-rows: calc(800px / 3);
        }

        grid-template-areas: "w2h1-1 w2h1-1 w1h2-2"
        "w1h1-3 w1h1-4 w1h2-2"
        "w1h1-5 w2h2-6 w2h2-6"
        "w1h1-7 w2h2-6 w2h2-6";


        @mixin work-item-block($order, $gArea) {
            >figure:nth-child(#{$order}) {
                grid-area: $gArea;
            }
        }

        @include work-item-block(1, w2h1-1);
        @include work-item-block(2, w1h2-2);
        @include work-item-block(3, w1h1-3);
        @include work-item-block(4, w1h1-4);
        @include work-item-block(5, w1h1-5);
        @include work-item-block(6, w2h2-6);
        @include work-item-block(7, w1h1-7);

    }

    figure {
        margin: 0;
    }

    .work__item {
        @include work-gallery-item;

        .title h3 {
            margin-bottom: 0;
        }

        &.more {
            >div {
                width: 100%;
                height: 100%;
            }

            h3 {
                color: $color-main;
                transition-duration: 0.5s;
            }

            .filter:after {
                z-index: -1;
            }

            .filter:hover {
                h3 {
                    color: white;
                }

                &::after {
                    opacity: 1;
                    background-color: $color-darkGrey;
                }

                .arrow {
                    stroke: $color-orange;
                    // transition: 0.5s;
                }
            }

            .more-btn {
                pointer-events: none;
                height: 50px;
                transform: rotate(180deg);

                .arrow {
                    transition: 0.5s;
                    stroke: white;
                }
            }
        }
    }


    @mixin work-item-s($order, $width) {
        >figure:nth-child(#{$order}) {
            width: $width;
        }
    }

    @include media-S {
        margin: 0;

        .work-container {
            display: flex;
            flex-wrap: wrap;
            margin: -2px;

            >figure {
                width: 50%;
                height: 33vw;
                padding: 2px;
            }

            @include work-item-s (1, 50%);
            @include work-item-s (2, 50%);
            @include work-item-s (3, 33.3%);
            @include work-item-s (4, 66.6%);
            @include work-item-s (5, 66.6%);
            @include work-item-s (6, 33.3%);

            .more {
                width: 100%;
                background-color: $color-lightGrey;

                .more-btn {
                    .arrow {
                        stroke: $color-orange;
                    }
                }

                h3 {
                    color: white
                }


            }
        }

        .work__item {
            .title {
                opacity: 1;
            }

            img {
                filter: grayscale(0.2) brightness(70%) contrast(70%);
            }
        }
    }
}

.brands {
    >div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 10%;
    }

    .brands-logo {
        position: relative;
        flex: auto 1 1;
        margin: 1vw;

        &::after {
            position: absolute;
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        >img {
            height: 100%;
            width: 100%;
            filter: grayscale(1) brightness(200%);
            transition-duration: .5s;


        }

        &:hover {
            >img {
                filter: grayscale(0) brightness(100%);

            }
        }
    }

    @include media-S {
        >div {
            flex-direction: column;
            padding: 0 37%;
        }

    }
}