// basic-styling
@import 'component/styling/normalize';
@import 'component/styling/color';
@import 'component/styling/basic';
@import 'component/styling/layout';

// general-component
@import "component/footer";
@import "component/header";

// purpose-component
@import "component/gallery";
@import "component/relate";
@import "component/description";



// hover-effect
@import "component/styling/hover";

body {
    margin-top: 0;
}

.hero {
    position: relative;
    width: 100%;

    &__title {
        * {
            color: white;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        @include abs-center;


    }

    &__img {
        img {
            width: 100%;
            height: auto;
            
        }
    }
}


.content {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    padding-top: $gallery-gap;
    > div {
        margin-bottom: $gallery-gap;
        display: flex;
    }
    .description {
        width: 45%;
        // background-color: rgb(224, 105, 105);
    }

    .img {
        z-index: 1;
        width: 55%;

        img {
            width: 100%;
            height: auto;
        }
        // background-color: rgb(105, 224, 194);

    }

    .score {
        height: 100%;
        position: relative;
        padding-top: 180px;
        display: flex;
        align-items: flex-end;

        > *{
            display: inline-block;
            margin: 0 0.4rem 0 0;
        }
        
        hr {
            position: relative;
            z-index: 2;
            border: 2px solid $color-main;
            width: 5rem;
            margin-bottom: 0.5rem;
        }

        h1 {
            font-size: 4rem;
            line-height: 4rem;
            vertical-align: middle;
            color: $color-orange;
        }
    }

}