// basic-styling
@import 'component/styling/normalize';
@import 'component/styling/color';
@import 'component/styling/basic';
@import 'component/styling/layout';

// general-component
@import "component/footer";
@import "component/header";

// purpose-component
@import "component/gallery";
@import "component/relate";
@import "component/description";



// hover-effect
@import "component/styling/hover";

body {
    margin-top: 0;
}

.hero {
    position: relative;
    width: 100vw;

    &__title {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(0, -50%);

        * {
            color: white;
        }
    }

    &__img {
        width: 100%;
        font-size: 0;

        img {
            width: 100%;
            height: auto;
        }
    }

    @include media-M {
        .hero__title {
            display: none;
        }
    }
}


.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    flex-wrap: wrap;

    >* {
        margin-top: $gallery-gap;
    }

    .description {
        width: 45%;
    }

    .img {
        z-index: 1;
        width: 55%;

        img {
            width: 100%;
            height: auto;
        }

        // background-color: rgb(105, 224, 194);

    }

    .score {
        align-self: flex-end;
        margin-bottom: 3rem;
        width: 45%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        padding-top: 0%;

        hr {
            z-index: 2;
            border: 2px solid $color-main;
            margin-top: 1rem;
            margin-right: 0.5rem;
            flex-grow: 1;
            flex-basis: 5rem;
            flex-shrink: 0;
        }

        .text {
            flex-shrink: 1;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            p {
                display: inline-block;
                margin: 0;
            }

            h1 {
                display: inline-block;
                margin: 0;
                right: 0;
                font-size: 3rem;
                line-height: 3rem;
                vertical-align: middle;
                color: $color-orange;
                margin-left: auto;

            }
        }

    }


    @include media-M {
        padding: 0;
        flex-direction: column;

        .description {
            order: -1;
        }

        .img {
            width: 100%;
            font-size: 0;

            &:nth-child(1) {
                order: 2;
            }

            &:nth-child(2) {
                order: 10;
                margin-bottom: 3rem;

            }
        }

        .score {
            order: 3;
            margin: 0;
            align-self: center;
            flex-direction: column;
            align-items: center;

            hr {
                height: 5rem;
                width: 0;
                margin: 0 0 1rem 0;
            }

            p {
                text-align: center;
            }

            h1 {
                margin-left: 0;
            }
        }
    }
}