.description {
    .name {
        h1 {
            margin-bottom: 0.2em;
        }
        h3 {
            margin-top: 0.2em;
        }
    }

    .credit {
        span {
            line-height: 2em;
            &::after {
                content: "\A";
                white-space: pre;
            }
        }
    }
}
