@import 'styling/color';
@import 'styling/layout';

.footer {
    background-color: $color-main;
    position: inherit;

    * {
        color: white;
    }


    >div {
        padding: 0.5rem 0;
        position: inherit;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;


        @include media-M {
            padding: 2rem 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

    }

    ul {
        margin-left: auto;
        padding-left: 0;

        @include media-M {
            padding: 1.5rem;
            margin: 0;

        }
    }

    li {
        position: relative;
        display: inline-block;
        list-style-type: none;
        vertical-align: middle;
        margin-right: 3rem;
        text-transform: capitalize;

        &:nth-last-child(1) {
            margin-right: 0;
        }

        @include media-M {
            padding: 1rem 0;
        }

        @include media-S {
            display: block;
            padding: 1rem 0;
            margin: 0;
            text-align: center;

        }


    }

    .copyright {
        font-weight: 200;
        font-size: 0.5rem;
        margin: 0;
        padding-left: 1rem;
        margin-bottom: 6px;

        @include media-M {
            order: 1;
        }
    }

    .logo {
        display: inline-block;

        img {
            height: 4rem;

            @include media-M {
                height: 3rem;
            }
        }
    }


}