@import "styling/color";
@import "styling/hover";
@import "styling/layout";

.header {
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;

    >div {
        height: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: inline-block;
        img {
            height: 4rem;
            width: 4rem;
        }
    }

    @include media-M {
        overflow: hidden;
        height: 100vh;
        
        > div {
            padding-top: 2rem;
            align-items: flex-start;

            

        }

        .logo {
            img {
                height: 4rem;
                width: 4rem;
            }
        }
    }
}

.nav {
    // position: inherit;
    display: flex;
    align-items: center;

    .nav-bar {
        overflow: hidden;
        line-height: 1.7rem;
        vertical-align: middle;

        ul {
            margin-left: 2rem;
            padding: 0;
            position: relative;
            display: inline-block;
            text-transform: capitalize;
            transition: .8s;
            transform: translate(110%, 0);
        }

        li {

            position: relative;
            display: inline-block;
            list-style-type: none;
            vertical-align: middle;
            margin-right: 3rem;

            @include hover-underline("a", "&");

            &.active {
                a::after {
                    width: 100%;
                }
            
                a::before {
                    content: '';
                    position: absolute;
                    display: block;
                    background-image: url(../asset/asterisk.svg);
                    height: 10px;
                    width: 10px;
                    left: -1rem;
                    top: 0.6rem;


                }
            }

            a {
                position: relative;
                display: inline-block;
                text-decoration: none;

                &::after {
                    bottom: 0;
                }


            }


        }

    }

    .nav-icon {
        display: inline-block;
        height: 2.4rem;
        width: 2.4rem;
        margin-left: 1rem;

        div {
            transition-duration: 1s;
            position: absolute;
            height: 0.2rem;
            width: 2rem;
            background-color: $color-main;
            transform-origin: center;
            top: 50%;

            &:nth-child(1) {
                transform: translate(0, -0.7rem);
            }

            &:nth-child(2) {
                transform: translate(0, 0);
            }

            &:nth-child(3) {
                transform: translate(0, 0.7rem);

            }
        }

    }

    &.open {
        .nav-icon div {
            &:nth-child(1) {
                transform: translate(0, 0) rotate(45deg);
            }

            &:nth-child(2) {
                transform: scale(0.0001, 1);
            }

            &:nth-child(3) {
                transform: translate(0, 0) rotate(-45deg)
            }
        }

        .nav-bar ul {
            transform: translate(0%, 0);
        }
    }

    @include media-M {
        // display: block;

        .nav-icon {
            position: relative;
            right: 0;
            margin: 0;
        }

        .nav-bar {
            @include abs-center;

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            li {
                display: block;
                margin: 0 0 2rem 0; 
            }
        }
        
    }
}



