@import "styling/color";
@import "styling/hover";
@import "styling/layout";


.cates-list {
    display: block;
    display: flex;
    justify-content: center;
 
    ul {
        // float: left;
        padding: 0;
        margin: 2rem;

        @include media-S {
            margin-top: 1rem;
        }
    }

    li {
        display: inline-block;
        list-style: none;
        list-style-type: none;
        margin-right: 30px;
        position: relative;
        a {
            text-decoration: none;
        }
        .cate-ch {
            @include media-S {
                display: none;
            }

            &::after {
                content: "‧";
            }
        }
        .cate-en {
        }

        @include hover-underline("&");
    }

    @include media-S {
        justify-content: flex-start;
        ul {
            margin-left: 0;
        }
    }
}

.work-block {
    margin-bottom: 2rem;
    &__title {
        * {
            display: inline-block;

            @include media-S {
                display: block;
            }
        }

        h1 {
            margin-right: 5px;
        }
    }

    &__img {
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;
        font-size: 0;
        @include media-S {
            margin: 0;
        }

        a {
            width: 25%;
            display: block;
            @include media-M {
                width: 33.33%;
            }
            @include media-S {
                width: 50%
            }   
        }

        img {
            padding: 5px;
            width: 100%;
            height: auto;


        }
    }
}