@import "styling/color";
@import "styling/hover";
@import "styling/layout";


.cates-list {
    display: block;
    display: flex;
    justify-content: center;
 
    ul {
        // float: left;
        padding: 0;
        margin: 2rem;

        @include media-S {
            margin-top: 1rem;
        }
    }

    li {
        display: inline-block;
        list-style: none;
        list-style-type: none;
        margin-right: 30px;
        position: relative;
        a {
            text-decoration: none;

            span {
                color: $color-darkGrey;
            }
                
        }
        .cate-ch {
            @include media-S {
                display: none;
            }

            &::after {
                content: "‧";
            }
        }
        .cate-en {
        }

        @include hover-underline("&");
    }

    @include media-S {
        justify-content: flex-start;
        ul {
            margin-left: 0;
        }
    }
}

