@import "styling/layout";

@mixin work-gallery-item {
    margin: 5px;

    >div {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;

        .title {
            @include abs-center;
            z-index: 5;
            text-align: center;

            * {
                color: white;
            }
        }

        img {
            z-index: 0;
            // position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}

;